@model IEnumerable<Player>

<h2>Список участникиков Т</h2>
<p><a asp-action="Create">Добавить участника Т</a></p>
<table class="table">
    <tr><th>Id</th><th>Nickname</th><th>Platform</th><th>Clan</th><th>Score/Victories</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nickname</td>
            <td>@item.Platform</td>
            <td>@item.Clan</td>
            <td>@item.Score</td><td>/</td><td>@item.Victories</td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" />
                </form>
        </tr>
    }
</table>